/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/FiraGO-SemiBold.woff2') format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraGO-Bold.woff2') format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/FiraGO-Book.woff2') format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/FiraGO-Medium.woff2') format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF;
}
/* latin */
@font-face {
  font-family: 'FiraGo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/FiraGO-Regular.woff2') format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF;
}
